body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h6 {
    color:#A4B3BF;
    font-size: 40px;
    text-decoration: underline;
}



/* Navbar*/
.navbar {
    background-color:#273440 !important;
}
.nav-title{
    color: aliceblue;
    font-size: 50px !important;
    margin-right: 15px !important;
}
.navbar-nav li a{
    color: aliceblue !important;
}

/*Hero Banner*/
.hero-banner {
    background-image: url(../assets/02-hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}
/*Work Section*/
.work-content {
    margin-top: 50px;
}
.heading {
    margin-bottom: 15px;
    margin-top: 20px;
}
.card {
    margin: 0 auto;
}
.work-cards {
    display: flex;
    justify-content: space-between;
}
#work-section .card-body{
    text-align: center;
}
.card-button {
    box-shadow: 5px 5px 0 blueviolet ;
}


/*About/Contact section*/
li a {
    color: black;
    text-decoration: none;
    
}
/*Footer*/
footer {
    background-color: #273440;
    padding: 20px 0;
    color: aliceblue;
}
footer p {
    text-align: center;
}

